    <div class="navbar navbar-default navbar-fixed-bottom">
    	<div class="container">
    		<p class="navbar-text">LOYO - You guide your journey, and you are not alone.</p>
    		<a href="http://facebook.com/loyonow" class="navbar-btn btn pull-right">Facebook</a>
    		<a href="http://twitter.com/loyonow" class="navbar-btn btn pull-right">Twitter</a>
    	</div>
    </div>